<div class="problem-canvas">
  <ul class="tab-menu">
    <li class="tab" *ngFor="let tab of tabs">
      <a style="text-decoration: none" (click)="openTab(tab)" href="#">{{
        tab
      }}</a>
    </li>
  </ul>
  <ng-container *ngIf="selectedTab === 'Description'">
    <div class="DescriptionTab">
      <div class="lefthandside">
        <app-problem-statement></app-problem-statement>
      </div>
      <div class="righthandside">
      <ngx-codemirror
      class="editor"
        [(ngModel)]="originalCode"
        [options]="{
          lineNumbers: true,
          theme: 'material',
          mode: 'markdown',
          lineWrapping: true
        }"
      ></ngx-codemirror>
    </div>
    </div>

    
  </ng-container>
  <ng-container *ngIf="selectedTab === 'Solution'">Solution</ng-container>
</div>
