<app-navbar></app-navbar>
<div class="box">
    <ul class="nav">
        <li class="nav-item">
            <a
              class="nav-link active"
              routerLink="/myprofile"
              aria-current="page"
              href="#"
              style="color:black; font-family: Montserrat; font-size: 1.5em;"
              >My Profile</a
            >
          </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a
            class="nav-link active"
            routerLink="/myprofile/problemlist"
            aria-current="page"
            href="#"
            style="color:black; font-family: Montserrat; font-size: 1.5em;"
            >Problem List</a
          >
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" routerLink="/myprofile/createproblem" href="#"
          style="color:black; font-family: Montserrat; font-size: 1.5em;"
            >Create Problem</a
          >
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" routerLink="/myprofile/manageusers" href="#"
          style="color:black; font-family: Montserrat; font-size: 1.5em;"
            >Manage Users</a
          >
        </li>
      </ul>
    <h3 style="color:black; font-family: Montserrat; font-size: 2em; font-weight: 400;">My Profile</h3>
    <h4 style="color:black; font-family: Montserrat; font-size: 2em; font-weight: 400;">Submission History</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="header">Submission</th>
          <th class="header" >Problem Slug</th>
          <th class="header">Language</th>
          <th class="header">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sub of submissions; let i = index" [attr.data-index]="i">
           <td class="data">{{i}}</td>
          <td class="data">{{ sub.problemSlug }}</td>
          <td class="data">{{sub.language}}</td>
         

          <td class="data">
            <button
              (click)="viewProblem(sub.problemSlug,sub.code,sub.language)"
              class="btn btn-info"
              style="margin-left: 10px"
            >
              View
            </button>
          </td>
        </tr>
        </tbody>
    </table>
  </div>