<app-navbar></app-navbar>
<html>
<div class="text">
   
    <h1 class="subtitle" align="center">
        Overview     
    <br> <br>
    </h1>
    <p class="paragraph">Leechcode is a free a platform like leetcode where students can give coding tests owned by the companies. Every company requires to hire new candidates, and based on the recent trend, it is very clear the that the maximum hiring and firing takes place in the development field. The initial rounds for the hiring is always a coding round, and hence we try to create a leetcode which can be used by companies as thier own product. 
    </p> 
    <br><br><br>

    <h1 class="subtitle" align="center">
    Our Team     
    </h1>
    <div class="row">
        <div class="column">
          <div class="card">
            <div class="container">
              <h2>Erik Rosa</h2>
              <p class="title">Front-End</p>
              <p>worked on developing the Backend</p>
              <p>erikrosa@ufl.edu</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <div class="container">
              <h2>Vijay Reddy</h2>
              <p class="title">Frontend</p>
              <p>worked on developing the Backend</p>
              <p>vijayragnandyala@ufl.edu</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
       
        <div class="column">
            <div class="card">
                <div class="container">
                <h2>Harish Reddy Bollavaram (harlsh) </h2>
                <p class="title">Backend</p>
                <p>worked on developing the Backend
            
                </p>
                <p>harishrebollavar@ufl.edu</p>
                <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
</div>