<app-navbar></app-navbar>
<html>
<div class="text">
   
    <h1 class="subtitle" align="center">
        Overview     
    <br> <br>
    </h1>
    <p class="paragraph">Over the last 10 years the rise of programing challenges from companies like LeetCode and HackerRank has revolutionized the way software engineers are hired. With these new platforms, engineers are expected to be proficient in solving a series of coding challenges in a short amount of time. Leechcode is a free online coding challenge platform made for companies to test and evaluate potential candidates.  
    </p> 
    <br><br><br>

    <h1 class="subtitle" align="center">
    Our Team     
    </h1>
    <div class="row">
        <div class="column">
          <div class="card">
            <div class="container">
              <h2>Erik Rosa</h2>
              <p class="title">FrontEnd</p>
              <p>worked on developing the Frontend</p>
              <p>erik.rosa@ufl.edu</p>
              <p><a href="https://github.com/erik-rosa">Contact</a></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <div class="container">
              <h2>Vijay Reddy</h2>
              <p class="title">Frontend</p>
              <p>worked on developing the Frontend</p>
              <p>vijayragnandyala@ufl.edu</p>
              <p><a href="https://github.com/vijay-red">Contact</a></p>
            </div>
          </div>
        </div>
       
        <div class="column">
            <div class="card">
                <div class="container">
                <h2>Harish Reddy Bollavaram (harlsh) </h2>
                <p class="title">Backend</p>
                <p>worked on developing the Backend
            
                </p>
                <p>harishrebollavar@ufl.edu</p>
                <p><a href="https://github.com/harlsh">Contact</a></p>
                </div>
            </div>
        </div>
</div>