<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label style="color:black; font-family: Montserrat; font-size: 1.5em;">Email</mat-label>
      <input matInput formControlName="email" type="text" required />
      <mat-error *ngIf="email?.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="email?.hasError('email')">
        Email isn't valid. Please enter a valid email.
      </mat-error>
    </mat-form-field>
    <div class="form-footer">
      <button [disabled]="form.invalid" class="mat-raised-button" type="submit" style=" 
      color: black;
      font-family: Montserrat;
      font-size: 1em;
      text-align: center;">
        Submit
      </button>
      
    </div>
  </form>
