
<app-navbar></app-navbar>
<div class="box">
    <table class="table table-striped">
        <thead>
          <tr>
            <th class="header">Id</th>
            <th class="header" >Title</th>
            <th class="header">Difficulty</th>
            <th class="header">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let problem of problems; let i = index" [attr.data-index]="i">
            <td class="data">{{ i }}</td>
            <td class="data">{{ problem.title }}</td>
            <td class="data-green" *ngIf="problem.difficulty ===  'Easy'">Easy</td>
            <td class="data-yellow" *ngIf="problem.difficulty ===  'Medium'">{{ problem.difficulty }}</td>
            <td class="data-red" *ngIf="problem.difficulty ===  'Hard'">{{ problem.difficulty }}</td>
            <td class="data">
              <button
                (click)="viewProblem(problem.titleSlug)"
                class="btn btn-info"
                style="margin-left: 10px"
              >
                View
              </button>
            </td>
          </tr>
        </tbody>
      </table>

</div>
<div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    disqus_developer = 1
    var disqus_config = function () {
    var disqus_url = 'http://localhost:4200';    
    this.page.identifier = problem-discuss; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://leechcode.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


