<app-navbar></app-navbar>
<div class="box">
    <ul class="nav">
      <li class="nav-item">
        <a
          class="nav-link active"
          routerLink="{{ descriptionUrl }}"
          aria-current="page"
          href="#"
          style="color: black; font-family: Montserrat; font-size: 1.5em"
          >Description</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="{{ solutionUrl }}"
          href="#"
          style="color: black; font-family: Montserrat; font-size: 1.5em"
          >Solution</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="{{ discussUrl }}"
          href="#"
          style="color: black; font-family: Montserrat; font-size: 1.5em"
          >Discuss</a
        >
      </li>
    </ul>
    <div class="main-row">
      <div class="lefthandside">
        <app-problem-statement></app-problem-statement>
      </div>
      <div class="righthandside">
        <h1>Discuss Plug-In Goes Here</h1>
      </div>
    </div>
    <div id="disqus_thread"></div>
    <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
        disqus_developer = 1
        var disqus_config = function () {
            
        this.page.url = 
         disqus_url = '{{ site.url }}{{ page.url }}';  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://leechcode.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    
